<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ekidungmantram">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EKidungMantram"
        tools:ignore="DataExtractionRules"
        tools:targetApi="s">
        <activity
            android:name=".DetailAudioDharmagitaNeedApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".DetailVideoDharmagitaNeedApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kajidharmagita.ListAudioDharmagitaNeedApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kajidharmagita.ListVideoDharmagitaNeedApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kajidharmagita.ListAllDharmagitaNotApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kajiahlidharmagita.PdfViewAhliDharmagitaActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kajiahlidharmagita.DetailAhliNeedApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kajiahlidharmagita.ListAhliNeedApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".admin.usermanager.DetailUserActivity"
            android:exported="false" />
        <activity
            android:name=".admin.usermanager.AllUserActivity"
            android:exported="false" />
        <activity
            android:name=".user.pupuh.RecordAudioPupuhActivity"
            android:exported="false" />
        <activity
            android:name=".admin.RegisterAhliActivity"
            android:exported="false" />
        <activity
            android:name=".user.kidung.AddKidungActivity"
            android:exported="false" />
        <activity
            android:name=".user.kidung.AllKidungUserActivity"
            android:exported="false" />
        <activity
            android:name=".user.laguanak.AddLaguAnakActivity"
            android:exported="false" />
        <activity
            android:name=".user.laguanak.AllKategoriLaguAnakUserActivity"
            android:exported="false" />
        <activity
            android:name=".user.kakawin.AddKakawinActivity"
            android:exported="false" />
        <activity
            android:name=".user.kakawin.AllKategoriKakawinUserActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kidung.AddYadnyaToKidungAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kidung.AllYadnyaonKidungAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kidung.EditAudioKidungAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kidung.AddAudioKidungAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kidung.AllAudioKidungAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kidung.EditVideoKidungAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kidung.AddVideoKidungAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kidung.AllVideoKidungAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kakawin.AddYadnyaToKakawinAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kakawin.AllYadnyaonKakawinAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kakawin.EditAudioKakawinAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kakawin.AddAudioKakawinAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kakawin.AllAudioKakawinAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kakawin.EditVideoKakawinAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kakawin.AddVideoKakawinAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kakawin.AllVideoKakawinAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kakawin.EditLirikKakawinAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kakawin.AddLirikKakawinAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kakawin.EditKakawinAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kakawin.AllLirikKakawinAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kakawin.DetailKakawinAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kakawin.AddKakawinAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kakawin.AllKategoriKakawinAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kakawin.AllKakawinAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.laguanak.EditLaguAnakAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.laguanak.AddYadnyaToLaguAnakAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.laguanak.AllYadnyaOnLaguAnakAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.laguanak.EditAudioLaguAnakAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.laguanak.AddAudioLaguAnakAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.laguanak.AllAudioLaguAnakAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.laguanak.EditVideoLaguAnakAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.laguanak.AddVideoLaguAnakAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.laguanak.AllVideoLaguAnakAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.laguanak.EditLirikLaguAnakAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.laguanak.AddLirikLaguAnakAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.laguanak.AllLirikLaguAnakAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.laguanak.AddLaguAnakAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.laguanak.DetailLaguAnakAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.laguanak.AllKategoriLaguAnakAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.laguanak.AllLaguAnakAdminActivity"
            android:exported="false" />
        <activity
            android:name=".user.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".user.AddYadnyaToPupuhActivity"
            android:exported="false" />
        <activity
            android:name=".user.AllYadnyaOnPupuhActivity"
            android:exported="false" />
        <activity
            android:name=".user.EditAudioPupuhActivity"
            android:exported="false" />
        <activity
            android:name=".user.pupuh.AddAudioPupuhActivity"
            android:exported="false" />
        <activity
            android:name=".user.AllAudioPupuhActivity"
            android:exported="false" />
        <activity
            android:name=".user.EditVideoPupuhUserActivity"
            android:exported="false" />
        <activity
            android:name=".user.AddVideoPupuhActivity"
            android:exported="false" />
        <activity
            android:name=".user.AllVideoPupuhActivity"
            android:exported="false" />
        <activity
            android:name=".user.EditLirikPupuhActivity"
            android:exported="false" />
        <activity
            android:name=".user.AddLirikPupuhActivity"
            android:exported="false" />
        <activity
            android:name=".user.AllLirikPupuhActivity"
            android:exported="false" />
        <activity
            android:name=".user.DetailPupuhUserActivity"
            android:exported="false" />
        <activity
            android:name=".user.pupuh.AllKategoriPupuhUserActivity"
            android:exported="false" />
        <activity
            android:name=".admin.pupuh.AddYadnyaToPupuhAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.pupuh.AllYadnyaOnPupuhAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.pupuh.EditAudioPupuhAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.pupuh.AddAudioPupuhAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.pupuh.AllAudioPupuhAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.pupuh.EditVideoPupuhActivity"
            android:exported="false" />
        <activity
            android:name=".admin.pupuh.AddVideoPupuhAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.pupuh.AllVideoPupuhAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.pupuh.EditLirikPupuhAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.pupuh.AddLirikPupuhAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.pupuh.AllLirikPupuhAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.pupuh.EditPupuhAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.pupuh.DetailPupuhAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.pupuh.AddPupuhAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.pupuh.AllKategoriPupuhAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.pupuh.AllPupuhAdminActivity"
            android:exported="false" />
        <activity
            android:name=".user.AddPupuhActivity"
            android:exported="false" />
        <activity
            android:name=".user.VideoKidungActivity"
            android:exported="false" />
        <activity
            android:name=".user.AudioKidungActivity"
            android:exported="false" />
        <activity
            android:name=".user.VideoKakawinActivity"
            android:exported="false" />
        <activity
            android:name=".user.AudioKakawinActivity"
            android:exported="false" />
        <activity
            android:name=".user.DetailKakawinActivity"
            android:exported="false" />
        <activity
            android:name=".user.VideoPupuhActivity"
            android:exported="false" />
        <activity
            android:name=".user.AudioPupuhActivity"
            android:exported="false" />
        <activity
            android:name=".user.DetailPupuhActivity"
            android:exported="false" />
        <activity
            android:name=".user.AllKategoriKakawinActivity"
            android:exported="false" />
        <activity
            android:name=".user.DetailMaknaDharmagitaActivity"
            android:exported="false" />
        <activity
            android:name=".user.AudioLaguAnakActivity"
            android:exported="false" />
        <activity
            android:name=".user.VideoLaguAnakActivity"
            android:exported="false" />
        <activity
            android:name=".user.AllKategoriLaguAnakActivity"
            android:exported="false" />
        <activity
            android:name=".user.DetailLaguAnakActivity"
            android:exported="false" />
        <activity
            android:name=".user.AllKategoriPupuhActivity"
            android:exported="false" />
        <activity
            android:name=".user.kakawin.AllKakawinActivity"
            android:exported="false" />
        <activity
            android:name=".user.AlllLaguAnakActivity"
            android:exported="false" />
        <activity
            android:name=".user.pupuh.AllPupuhActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kajidharmagita.DetailDharmagitaNeedApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kajidharmagita.ListDharmagitaNeedApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".admin.gita.AllGitaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".user.DetailGitaActivity"
            android:exported="false" />
        <activity
            android:name=".user.AllGitaActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kajimantram.DetailMantramNeedApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kajimantram.ListMantramNeedApprovalActivity"
            android:exported="false"
            android:parentActivityName=".admin.HomeAdminActivity" />
        <activity
            android:name=".admin.prosesiupacara.prosesikhusus.AllProsesiKhususActivity"
            android:exported="false" />
        <activity
            android:name=".admin.prosesiupacara.prosesikhusus.AddProsesiKhususActivity"
            android:exported="false" />
        <activity
            android:name=".admin.upacarayadnya.AllKidungOnYadnyaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.upacarayadnya.AddKidungToYadnyaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.upacarayadnya.AllTariOnYadnyaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.upacarayadnya.AddTariToYadnyaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.upacarayadnya.AllGamelanOnYadnyaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.upacarayadnya.AddGamelanToYadnyaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.upacarayadnya.AllProsesiAkhirYadnyaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.upacarayadnya.AddProsesiAkhirToYadnyaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.upacarayadnya.AllProsesiPuncakYadnyaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.upacarayadnya.AddProsesiPuncakToYadnyaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.upacarayadnya.AllProsesiAwalYadnyaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.upacarayadnya.AddProsesiAwalToYadnyaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.upacarayadnya.DetailYadnyaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.upacarayadnya.EditYadnyaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.upacarayadnya.AddYadnyaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.upacarayadnya.SelectedAllYadnyaAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.upacarayadnya.AllYadnyaAdminActivity" />
        <activity
            android:name=".admin.upacarayadnya.AllYadnyaAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.HomeAdminActivity" />
        <activity
            android:name=".admin.prosesiupacara.AddMantramToProsesiAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.prosesiupacara.AllMantramOnProsesiAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.prosesiupacara.AddTabuhToProsesiAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.prosesiupacara.AllTabuhOnProsesiAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.prosesiupacara.AddKidungToProsesiAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.prosesiupacara.AllKidungOnProsesiAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.prosesiupacara.AddTariToProsesiAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.prosesiupacara.AllTariOnProsesiAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.prosesiupacara.AddGamelanToProsesiAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.prosesiupacara.AllGamelanOnProsesiAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.prosesiupacara.EditProsesiAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.prosesiupacara.AllProsesiAdminActivity" />
        <activity
            android:name=".admin.prosesiupacara.AddProsesiAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.prosesiupacara.AllProsesiAdminActivity" />
        <activity
            android:name=".admin.prosesiupacara.DetailProsesiAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.prosesiupacara.AllProsesiAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.HomeAdminActivity" />
        <activity
            android:name=".admin.tari.AddTabuhToTariAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.tari.AllTabuhOnTariAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.tari.EditTariAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.tari.AllTariAdminActivity" />
        <activity
            android:name=".admin.tari.AddTariAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.tari.AllTariAdminActivity" />
        <activity
            android:name=".admin.tari.DetailTariAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.tari.AllTariAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.HomeAdminActivity" />
        <activity
            android:name=".admin.gamelan.AddTabuhToGamelanAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.gamelan.AllTabuhOnGamelanAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.gamelan.EditGamelanAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.gamelan.AllGamelanAdminActivity" />
        <activity
            android:name=".admin.gamelan.DetailGamelanAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.gamelan.AddGamelanAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.gamelan.AllGamelanAdminActivity" />
        <activity
            android:name=".admin.gamelan.AllGamelanAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.HomeAdminActivity" />
        <activity
            android:name=".admin.kidung.EditLirikKidungAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kidung.AddLirikKidungAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kidung.AllLirikKidungAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kidung.EditKidungAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.kidung.AllKidungAdminActivity" />
        <activity
            android:name=".admin.kidung.DetailKidungAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kidung.AddKidungAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.kidung.AllKidungAdminActivity" />
        <activity
            android:name=".admin.kidung.AllKidungAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.HomeAdminActivity" />
        <activity
            android:name=".admin.tabuh.EditTabuhAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.tabuh.AllTabuhAdminActivity" />
        <activity
            android:name=".admin.tabuh.AddTabuhAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.tabuh.AllTabuhAdminActivity" />
        <activity
            android:name=".admin.tabuh.DetailTabuhAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.tabuh.AllTabuhAdminActivity" />
        <activity
            android:name=".admin.tabuh.AllTabuhAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.HomeAdminActivity" />
        <activity
            android:name=".admin.adminmanager.EditAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.adminmanager.AllAdminActivity" />
        <activity
            android:name=".admin.adminmanager.DetailAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.adminmanager.AllAdminActivity" />
        <activity
            android:name=".admin.adminmanager.AddAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.adminmanager.AllAdminActivity" />
        <activity
            android:name=".admin.adminmanager.AllAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.HomeAdminActivity" />
        <activity
            android:name=".admin.mantram.EditArtiActivity"
            android:exported="false" />
        <activity
            android:name=".admin.mantram.EditBaitActivity"
            android:exported="false" />
        <activity
            android:name=".admin.mantram.AddArtiActivity"
            android:exported="false" />
        <activity
            android:name=".admin.mantram.AddBaitActivity"
            android:exported="false" />
        <activity
            android:name=".admin.mantram.EditMantramAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.mantram.DetailMantramAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.mantram.AddMantramAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.mantram.AllMantramAdminActivity" />
        <activity
            android:name=".admin.ListYadnyaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.mantram.AllMantramAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.HomeAdminActivity" />
        <activity
            android:name=".user.DetailMantramActivity"
            android:exported="false" />
        <activity
            android:name=".user.DetailTabuhActivity"
            android:exported="false" />
        <activity
            android:name=".user.DetailKidungActivity"
            android:exported="false" />
        <activity
            android:name=".user.DetailTariActivity"
            android:exported="false" />
        <activity
            android:name=".user.DetailGamelanActivity"
            android:exported="false" />
        <activity
            android:name=".user.AllProsesiActivity"
            android:exported="false"
            android:parentActivityName=".user.MainActivity" />
        <activity
            android:name=".user.kidung.AllKidungActivity"
            android:exported="false"
            android:parentActivityName=".user.MainActivity" />
        <activity
            android:name=".user.AllMantramActivity"
            android:exported="false"
            android:parentActivityName=".user.MainActivity" />
        <activity
            android:name=".user.AllGamelanActivity"
            android:exported="false"
            android:parentActivityName=".user.MainActivity" />
        <activity
            android:name=".user.AllTabuhActivity"
            android:exported="false"
            android:parentActivityName=".user.MainActivity" />
        <activity
            android:name=".user.AllTariActivity"
            android:exported="false"
            android:parentActivityName=".user.MainActivity" />
        <activity
            android:name=".admin.HomeAdminActivity"
            android:exported="false" />
        <activity
            android:name=".user.DetailProsesiActivity"
            android:exported="false" />
        <activity
            android:name=".user.DetailYadnyaActivity"
            android:exported="false"
            android:parentActivityName=".user.MainActivity" />
        <activity
            android:name=".user.YadnyaActivity"
            android:exported="false"
            android:parentActivityName=".user.MainActivity" />
        <activity
            android:name=".AboutAppActivity"
            android:exported="false"
            android:parentActivityName=".user.MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>